:root {
    --color: #141414;
}


@font-face{
    font-family: Lato;
    src: url("../fonts/Lato/Lato-Regular.ttf");
}
@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunito/NunitoSans_7pt-Light.ttf");
}

body {
    margin: 0;
    padding: 0;
    background-color: #2c2c2c; /* #2c2c2c */
}

body, input, select, textarea, button, .dropdown .dropbtn {
    color: rgba(255, 255, 255, 0.75);
    font-family: "Lato";
    font-size: 15pt;
    font-weight: 100;
    line-height: 1.75em;
}

h1, h2, h3, a:-webkit-any-link {
    font-family: "Lato";
    color:white;
}

/*--- nav interaction ---*/

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1f1f1f80;
    position: fixed;
    top: 0;
    height: 64px;
    width: 100%;
    z-index: 99;
}

#navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;
    line-height: 1.3em;
    height: 1.5em;
    transition: 0.5s;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 20px;
    transition: 0.5s;
}

.dropdown {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 8px;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: inherit;
    font-family: inherit;
    padding: 10px;
    line-height: 1.3em;
    align-self: center;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.dropdown:hover .dropbtn {
    background-color: #555;
    border-radius: 20px;
    transition: 0.5s;
}

.dropdown-content {
    position: absolute;
    background-color: rgba(59, 59, 59, 0.95);
    top: 100%;
    left: 0;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: 1000;
    pointer-events: none;
    transition: 0.5s;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    margin: 12px;
    text-decoration: none;
    text-align: left;
    transition: 0.5s;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 20px;
    transition: 0.5s;
}

.dropdown:hover .dropdown-content {
    opacity: 100%;
    border-radius: 10px;
    pointer-events: all;
    transition: 0.5s;
}

/* Phone Adjust */

.icon {
    display: none;
    transform: translate(-0%, -20%);
}

.icon img {
    width: 48px;
    height: auto;
}

/* hide regular links and show the icon on screens 1080px or smaller */
@media screen and (max-width: 1080px) {
    #navbar a:not(:last-child), .dropdown {
        display: none;
    }

    #navbar a.icon {
        float: right;
        display: block;
        margin-left: auto;
    }
}

/* show regular links and hide the icon on screens larger than 1080px */
@media screen and (min-width: 1081px) {
    #navbar a:not(:last-child) {
        display: block;
    }

    #navbar a.icon {
        display: none;
    }
}

/*--- Sidenav ---*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    overflow: hidden;
    white-space: nowrap;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    overflow: hidden;
    white-space: nowrap;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 2;
}

.sidenav .closebtn:hover,
.sidenav .closebtn:active {
    color: #f1f1f1;
    cursor: pointer;
}

/*--- Sections ---*/
/*
section {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#home {
    opacity: 1;
}
*/


/*--- Home Page ---*/

.video-container {
    display: flex;
    justify-content: center;
    /* This will center the video horizontally */
    align-items: center;
    /* This will center the video vertically */
    height: 700px;
    /* This now sets the video container to be 70% of the viewport height */
    overflow: hidden;
    /* This will hide the parts of the video that are outside the container */
    /* This will blur the video. Adjust the pixel value to increase or decrease the blur */
    width: 100%;
    position: relative;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: blur(8px);
}

.text-container {
    position: absolute;
    bottom: 2vw;
    left: 5vw;
    color: white;
    text-align: left;
}

.text-container h1 {
    /*font-size: min(calc(4vw + 50px), 128px);*/
    font-size: clamp(48px, 6vw, 96px);
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

.text-container p {
    font-size: clamp(24px, 3vw, 48px);
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

@media (min-width: 1200px) {
    .text-container {
        left: calc(5vw + (100vw - 1200px) / 3);
    }
}

#muteButton {
    width: 50px;
    height: 50px;
    background-image: url('../../images/volume-mute.png');
    /* Path to your mute image */
    background-size: cover;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 12%;
}

/* Blackbox */

.blackBox {
    width: 100%;
    height: 2160px;
    margin: 0;
    background-color: transparent;
}

/* Featured Game */

.featured-game .background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.featured-game {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featured-game h1 {
    margin-bottom: 1em;
    margin-top: 2em;
    text-align: center;
    font-size: 3em;
    line-height: 1em;
    color: white;
}

.featured-showcase {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 1400px;
    gap: 2em;
    padding: 20px;
    margin: 20px;
}

.featured-text,
.featured-image {
    flex-basis: 50%;
    flex-grow: 1;
    padding: 20px;
}

.featured-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.featured-text p {
    font-size: 1.5em;
    line-height: 1em;
    color: white
}

.featured-text .highlight {
    color: rgb(255, 64, 50)
}

.button {
    background-color: transparent;
    border-radius: 16px;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    color: white !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    font-size: 1.5em;
    padding: 1em 2.25em;
    padding-bottom: 1.1em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    transition: 1s;
}

.button:hover {
    background-color: white;
    border-radius: 32px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    color: rgb(255, 64, 50) !important;
    transition: 0.5s;
}

@media screen and (max-width: 1500px) {

    /* adjust this as needed */
    .featured-text,
    .featured-image {
        flex-basis: 100%;
    }

    .featured-showcase {
        flex-wrap: wrap;
        max-width: 820px;
    }
}

/* Itch Link */

.itchLink {
    position: relative;
}

/*--- About Section ---*/

.about-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 98%;
}

.about-canvas {
    margin: 20px;
    top: 128px;
    position: absolute;
    max-width: 1060px;
}

.about-header {
    padding: 0;
    background-color: rgb(18, 218, 191);
    height: 300px;
    padding-left: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-radius: 150px;
    position: relative;
    z-index: 2;
}

.about-header img {
    max-height: 90%;
    width: auto;
    border-radius: 50%;
    margin: 1.8%;
}

.about-text {
    margin: 0;
    margin-top: -128px;
    justify-content: left;
    padding: 128px;
    padding-top: 172px;
    padding-bottom: 64px;
    border-radius: 150px;
    background-color: #5c5c5c;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.about-canvas h1 {
    font-size: 3.5em;
    line-height: 1em;
    color: white;
    margin: 0;
    font-family: "Nunito";
}

.about-canvas h2 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 0;
    margin-top: 10px;
    color: white;
    font-family: "Nunito";
}

.about-canvas h3 {
    font-size: 1em;
    line-height: 1em;
    margin: 0;
    margin-top: 20px;
    color: white;
    font-family: "Nunito";
}

.about-canvas p {
    margin-top: 16px;
    font-size: 1em;
    line-height: 1.3em;
    color: white;
    font-weight: lighter;
    font-family: "Nunito";
}

.clicker {
    background-color: rgb(66, 66, 66);
    box-shadow: 0px 16px 0px 0px rgb(255 255 255 / 40%) !important;
    margin-top: 0px !important;
    margin-bottom: 16px !important;
    transition: 0.1s;
}
.clicker:hover {
    background-color: rgb(15, 15, 15);
    color: rgb(224, 228, 23) !important;
    box-shadow: 0px 12px 0px 0px rgb(255 255 255 / 40%) !important;
    margin-top: 4px !important;
    margin-bottom: 12px !important;
    border-radius: 16px !important;
    transition: 0.1s;
}
.clicker:active {
    background-color: rgb(15, 15, 15);
    color: rgb(224, 228, 23) !important;
    box-shadow: 0px 2px 0px 0px rgb(255 255 255 / 40%) !important;
    margin-top: 14px !important;
    margin-bottom: 2px !important;
    border-radius: 16px !important;
    transition: 0.2s;
}

.games-i-like {
    margin: 0;
    margin-top: 32px;
    margin-bottom: 32px;
    justify-content: left;
    padding: 128px;
    border-radius: 150px;
    background-color: #5c5c5c;
    position: relative;
    transition: 0.5s;
}

.collapse-button {
    background-color: #242424;
    border: none;
    color: white;
    padding: 4px 24px;
    text-align: center;
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 0.8em;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: all 0.5s ease;
  }
  
  .collapse-button:hover {
    background-color: #ffffff;
    color: #242424;
    text-decoration: underline;
  }

.games-i-like h3 {
    color:rgb(18, 218, 191);
    font-size: 1.3em;
}

.games-i-like p {
    display: none;
}

@media screen and (max-width: 1200px) {
    .about-canvas {
        max-width: 720px;
    }
    .about-header {
        height: 200px;
        border-radius: 100px;
        padding-left: 64px;
    }
    .about-text {
        border-radius: 100px;
        padding: 64px;
        margin-top: -112px;
        padding-top: 128px;
    }
    .games-i-like {
        border-radius: 100px;
        padding: 64px;
    }
}

@media screen and (max-width: 800px) {
    .about-canvas h1 {
        font-size: 8vw;
    }
}

@media screen and (max-width: 540px) {
    .about-header {
        padding-left: 32px;
        height: 100px;
        border-radius: 50px;
    }
    .about-text {
        padding: 32px;
        border-radius: 50px;
        margin-top: -32px;
        padding-top: 48px;
    }
    .games-i-like {
        padding: 32px;
        border-radius: 50px;
    }
}


/*--- Contact Section ---*/

.contact-canvas {
    margin: 20px;
    top: 128px;
    position: absolute;
    width: 98%;
}

.flexer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-icons {
    justify-content: left;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    position: relative;
}

.contact-icons img {
    width: 64px;
    height: 64px;
    transition: 0.5s;
}

.contact-icons p {
    opacity: 0;
    position: absolute;
    top: 0;
    line-height: 1em;
    transition: 0.5s;
    z-index: -1;
}

.contact-icons img:hover {
    filter: blur(2px);
    color: #2c2c2c;
    transition: 0.5s;
}

.contact-icons img:hover + p {
    opacity: 100%;
    top: 64px;
    transition: 0.5s;
}

/*--- Allgames Section ---*/

.allgames-container {
    margin: 0;
    padding-top: 96px;
    position: absolute;
    width: 98%;
}

.allgames-canvas {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 64px;
}

.game-display {
    background-color: #141414;
    max-width: 400px;
    padding: 32px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.game-display a {
    width: 90%;
    border-radius: 10px;
    position: relative;
}

.game-display #game-wide {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border-style: dashed;
    border-color: white;
    border-width: 2px;
    transition: 0.5s;
}

.game-display #game-wide:hover {
    transition: 0.5s;
    filter: blur(2px);
    border-color: rgba(0, 0, 0, 0.2)
}

.game-display .project-length, .game-display .team-size {
    position: absolute;
    padding: 5px 20px 5px 20px;
    background-color: #444444;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.game-display .project-length {
    right: 0px;
    top: 0px;
    transform: translate(20% , -35%);
}
.game-display .team-size {
    left: 0px;
    bottom: 0px;
    transform: translate(-20% , 10%);
}
.game-display .team-size img{
    height: 24px;
    width: 24px;
}

.game-display p {
    position: relative;
    margin: 0;
}

#flavor-text {
    padding-top: 32px;
}

.game-display h3 {
    margin: 0;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-display img:hover + h3 {
    opacity: 100%;
    transition: 0.5s;
}

/*  game section  */
.game-section-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.game-section {
    width: 1280px;
    text-align: left;
}

.game-logo {
    height: auto;
}

@media screen and (max-width: 1420px) {
    .game-section {
        max-width: 90vw;
    }
    .game-section-container {
        flex-direction: column-reverse;
    }
    .game-logo {
        max-width: 90%;
    }
}

.half-section {
    flex-shrink: 1;
    width: auto;
    flex-basis: 50%;
}

.game-section img {
    width: 500px;
}

.game-section p {
    color: white;
}

.team-display {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    text-align: center;
    justify-content: center;
    position: relative;
}

.team-display a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-display p {
    position: absolute;
    text-align: center;
    margin: 0;
    bottom: -32px;
    white-space: nowrap;
    overflow-x: auto;
}

.team-img:hover {
    filter: blur(4px);
    transition: 0.5s;
}

a:hover .portfolio-link {
    opacity: 80%;
    transition: 0.5s;
}

.team-img {
    border-radius: 50%;
    width: 256px !important;
    height: 256px;
    top: 24px;
    transition: 0.5s;
}

.portfolio-link {
    width: 64px !important;
    position: absolute;
    margin:0;
    transition: 0.5s;
    pointer-events: none;
    opacity: 0%;
}

.team-logo {
    align-self: center; 
    max-width: 512px !important;
}

@media screen and (max-width: 1420px) {
    .team-img {
        width: 128px !important;
        height: 128px;
    }
    .team-logo {
        width: 80vw !important;
    }
}

/*--- Morris Game ---*/

.morris-canvas {
    margin: 20px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.morris-canvas video {
    max-width: 1280px;
    height: auto;
}

@media screen and (max-width: 1420px) {
    .morris-canvas video {
        max-width: 90vw;
    }
}

.morris-logo {
    padding: 40px;
}

@media screen and (max-width: 1000px) {
    .morris-logo {
        width: 80vw;
    }
}

.morrisnarrow {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 540px) {
    .morrisnarrow img{
        width: 90vw !important;
    }
    .button {
        font-size: 5.8vw;
    }
}

.morris-canvas h1 {
    font-size: 2.5em;
    line-height: 1em;
    color:white;
    margin-bottom: 64px;
}

.morris-canvas h2 {
    color: rgb(255, 64, 50);
    font-size: 2em;
}

.morris-canvas h4 {
    color: rgb(248, 250, 112);
    font-size: 1em;
    margin-top: 48px;
    margin-bottom: -20px;
}


.morris-canvas .highlight {
    font-weight: bold;
}

/*--- Burglar Game ---*/

.burglar-canvas {
    margin: 20px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.burglar-canvas video {
    max-width: 1280px;
    height: auto;
}

@media screen and (max-width: 1420px) {
    .burglar-canvas video {
        max-width: 90vw;
    }
}

.burglar-logo {
    padding: 40px;
}

@media screen and (max-width: 1000px) {
    .burglar-logo {
        width: 80vw;
    }
}

.burglarnarrow {
    display: flex;
    justify-content: center;
    height: 760px;
}

@media screen and (max-width: 540px) {
    .burglarnarrow img {
        width: 90vw !important;
    }

    .button {
        font-size: 5.8vw;
    }
}

.burglar-canvas h1 {
    font-size: 2.5em;
    line-height: 1em;
    color: white;
    margin-bottom: 64px;
}

.burglar-canvas h2 {
    color: rgb(42, 54, 214);
    font-size: 2em;
}

.burglar-canvas h4 {
    color: rgb(195, 112, 250);
    font-size: 1em;
    margin-top: 48px;
    margin-bottom: -20px;
}

.burglar-canvas .highlight {
    font-weight: bold;
}

.burglar-show {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 64px;
}

.burglar-show video{
    max-width: 400px !important;
    margin-top: 32px;
}

@media screen and (max-width: 1000px) {
    .burglar-show {
        flex-direction: column;
        gap: 0px;
    }
    .burglar-show video{
        width: 80% !important;
    }
}



/*--- CV Section ---*/

.cv-canvas {
    margin: 0;
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cv-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv-doc {
    max-width: 600px;
    transition: 1s;
}

@media screen and (max-width: 640px) {
    .cv-doc {
       max-width: 95%; 
    }
    .enlarge-button {
        display: none;
    }
}

.enlarged {
    max-width: 95vw;
    transition: 1s;
}

.enlarge-button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    transition: 0.2s;
}

.enlarge-button img {
    width: 32px;
    height: 32px;
    transition: 0.2s;
}

.enlarge-button:hover {
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
    transition: 0.2s;
}

.enlarge-button img:hover {
    width: 40px;
    height: 40px;
    transition: 0.2s;
}

#cv .button {
    position: relative;
    flex-grow: none;
    max-width: 300px;
    align-self: center;
}

@media screen and (max-width: 500px) {
    #cv .button {
        max-width: 100px;
        font-size: 0.5em;
    }
}